@import "https://fonts.googleapis.com/css?family=Righteous";

body {
    margin-left: 11.9%;
    margin-right: 12%;
}

p {
    font-family: sans-serif;
    font-weight: lighter;
}

/* For the large topic */
h1 {
    font-family: 'Righteous', serif;
    margin-bottom: 0;
    font-size:40px;
}

/* Large topic first letter uppercase */
h1::first-letter {
    text-transform: uppercase;
}

/* For secondary topic */
h1 + p {
    margin-top: 12px;
    font-size: 18px;
}

/* for "all topic" */
div > nav {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-top: 20px;
    margin-bottom: 25px;
    height: 68px;
    font-size: 20px;
}

a {
    display: inline-block;
    text-decoration:none;
    color: black;
}

/* For "all topic" */
a h3 span {
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, .44);
}

/* First box of each row */
div section.first {
    margin-left: 0;
}

/* Box with border */
div section {
    float: left;
    display: inline-block;
    width: 31.8%;
    height: 280px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-left: 2%;
}

/* Box title */
section > h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.82);
    font-size: 20px;
}

/* set up the margins of content in box */
section > p, section > span {
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    color: rgba(0,0,0,.44);
    font-family: Arial, Helvetica, sans-serif;
}

/* line distance */
section > p {
    line-height: 25px;
    height: 155px;
}

/* the bottom line in box */
section > span {
    font-size: 12px;
    display: inline-block;
    float: left;
    margin-right: 7px;
}

/* Bookmark */
i.fa {
    transform : scale(1.2);
}

/* change the color of some words in box content */
section > p span {
    color: #199c4d;
}